<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LivePoll</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="/">LivePoll</a>
        </nav>
        <div id="body">

        
            <h1 class="display-4">One-Link Instant Live Polls</h1>
            <h2 class="lead">Create multiple polls with one link and see results in realtime</h2>
            <a id="start" class="btn btn-primary" href='/poll'><span>Get Started</span></a>
        </div>
    </div>    
</body>
</html>