<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>Result</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/results.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="/">LivePoll</a>
        </nav>
        <div id="result-body">
             <h1 class='display-4'>Result</h1>

             <div id="results">
                <p class="lead" id='results-question'>
                    
                </p>
                <input type="hidden" id='link_id' action="hidden" value="<%= results.link_Id %>">

                <div id='options'>
                </div><br>
                <a id='create' >Create new poll</a>
             </div>
        </div>
    </div>
    
</body>
</html>